@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #fff3cc;
  color: #5837B3;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  height: 50px;
}

.logo{
  width: 40px;
  height: auto;
  margin-left: 10px;
}
