/* ==================== NavBar ==================== */
.navbar {
  background-color: #fff3cc;
  color: #5837B3;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  height: 50px;
}

.logo{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

/* ==================== HomePage ==================== */
/* Different display depends on the screen size */
@media only screen and (max-width: 400px) {
  .presentation{
    background-color: hsla(0, 0%, 0%, 0.54);
    border-radius: 15px;
    width: 80%;
    height: 210px;
    text-align: center;
  }

}

@media only screen and (min-width: 400px){
.presentation{
  background-color: hsla(0, 0%, 0%, 0.54);
  border-radius: 15px;
  width: 50%;
  height: 125px;
  text-align: center; 
}
}

/*  */
.head{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.textPresentation{
  color: #FF96A5;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  padding: 2px;
  font-size: 2rem;
  text-align: center;
  margin: 5px;
}

/* Title of the card on the picture */
.carousel-caption{
  bottom: 0!important;
  top: 30%!important;
  padding: 0 !important;
  left: 0%!important;
  right: 0%!important;
}

/* ==================== Buttons ==================== */
.btnCreation{
  background-color: #FF96A5;
  color: black;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  font-size: 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

.btnCreation:hover{
  color: rgba(0, 0, 0, 0.70);
}

.btnDiscard{
  background-color: #A20041;
  color: #FFF3CC;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.btnDiscard:hover, .btnSubmit:hover{
  color: #ffffff;
}

.btnSubmit{
  background-color: #5837B3;
  color: #FFF3CC;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnModify{
  background-color: #FFF3CC;
  color: #A20041;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  font-size: 1rem;
  border-radius: 50px;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border: #A20041 1px solid;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnModify:hover{
  color:#5837B3;
}

.btnAdd{
  color:#5837B3;
  font-size: 20px;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnHome{
  background-color:#A20041;
  color:#FFF3CC;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  font-size: 1.25rem;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px;
  margin-top: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ==================== Forms ====================*/
.formcontainer{
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  background-color: #DCF3FF;
  border-radius: 40px;
}

.formtitle{
  color: #5837B3;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
}

.labelname{
  font-family: 'Berlin Sans FB', 'Fredoka';
}

/* ==================== RecipeCards ====================*/
.cardstyle{
  font-family: 'Berlin Sans FB', 'Fredoka';
  text-align: center;
}

.card-text{
  text-align: left;
}

/* Style for recipe cards */
.rCard{
  margin: 15px;
  background-color: #DCF3FF!important;
  color:black;
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  width: 90%;
  border-radius: 50px!important;
} 

.categoryContainer{
  background-color: #5837B3;
  color:#ffffff;
  text-align: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================== Ingredient ====================*/

/* ingredients details */
.ingredients{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Berlin Sans FB', 'Fredoka';
}

/* Shape around ingredients */
.rectIngredient{
  border-radius: 50px;
  border: solid 2px #A20041;
  padding: 5px;
}

/* ==================== Steps ====================*/
.stepName{
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  color: #A20041;
  font-size: 2rem;
  text-align: center;
}

.stepDescription{
  font-family: 'Berlin Sans FB', 'Fredoka';
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.arrowStep{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: -10; */
}

.otherStep{
  color: gray;
}

/* ==================== Others ====================*/
.errorText{
  font-family: 'Berlin Sans FB Demi', 'Fredoka';
  color: #A20041;
  padding: 2px;
  font-size: 2rem;
  text-align: center;
  margin: 5px;
}

/* Text style for all the web site */
.textStyle{
  font-family: 'Berlin Sans FB', 'Fredoka';
}


.warning{
  font-family: 'Berlin Sans FB Demi', 'Fredoka'; 
}

/* Style for the required information */
.required{
  font-style: italic;
  font-size: 0.80rem;
}




/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
